{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.price) }}
    {{ form_row(form.description) }}
    {{ form_row(form.moto) }}
    {{ form_row(form.image, {'attr': {'multiple': 'multiple'}}) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}