{% extends 'base.html.twig' %}

{% block title %}Advertisement index{% endblock %}

{% block body %}
    <h1 class="text-center">Moto à vendre</h1>
    <div class="row">
        {% for advertisement in advertisements %}
            
            <div class="col-lg-3 col-md-4">
                <div class="border mb-2">
                    {% if advertisement.getImages()|length > 0 %}
                        {% set firstImage = advertisement.getImages()|first %}
                        <img class="img-fluid" src="/uploads/adverts/{{ firstImage.getPath() }}" alt="Image en avant de l'annonce {{advertisement.title}}">
                    {% endif %}
                    <div class="py-1">
                        <h2 class="text-start">{{ advertisement.title }}</h2>
                        <div class="d-flex justify-content-between">
                            <span class="">Publié le {{ advertisement.creadtedAt ? advertisement.creadtedAt|date('Y-m-d') : '' }}</span>
                            <span class="">{{ advertisement.price }} €</span>
                        </div>
                        <div class="w-100">
                            <a href="{{ path('app_advertisement_show', {'id': advertisement.id}) }}" class="btn btn-outline-dark">En détails</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
                <div>no records found</div>
        {% endfor %}
    </div>

    
    
{% endblock %}
