<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{path('homepage')}}">MotorbikeCorner</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path('homepage')}}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_advertisement_index')}}">Annonces</a>
          </li>
          {% if app.user %}
            {% set userRoles = app.user.getRoles() %}

            {% if 'ROLE_ADMIN' in userRoles %}
              <li>
                <a class="nav-link" href="{{path('admin')}}">Administration</a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
      {% if app.request.attributes.get('_route') == 'app_advertisement_index' %} 
        <a href="{{path('app_advertisement_new')}}" class="btn btn-outline-dark">Poster une annonce</a>
      {% endif %}
      {% if app.request.attributes.get('_route') == 'app_advertisement_show' %}
        <a href="{{ path('app_advertisement_index') }}" class="btn btn-outline-dark">Retour</a>
      {% endif %}
      </div>
      <div class="col-lg-8"></div>
      <div class="col-lg-2 py-1 text-end">
      {% if app.user %}
        <div class="d-flex flex-row justify-content-end">
          <a href="{{path('app_user_show' , {'id' : app.user.id})}}" class="me-3 my-auto link-underline-light link-dark">{{ app.user.userIdentifier }}</a>
          <a href="{{path('app_logout')}}" class="btn btn-outline-danger">Déconnexion</a>
        </div>
      {% else %}
        <div class="d-flex flex-row justify-content-end">
          <a href="" class="btn btn-outline-success me-3">Inscription</a>
          <a href="{{path('app_login')}}" class="btn btn-outline-dark">Connexion</a>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>