{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    
    <div class="container">
    <h1>Mon profil</h1>
        <div class="row mt-2">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-8">
                <div class="border rounded px-3 py-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Pseudo</th>
                                <td>{{ user.pseudo }}</td>
                            </tr>
                            <tr>
                                <th>Firstname</th>
                                <td>{{ user.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Lastname</th>
                                <td>{{ user.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Phone_number</th>
                                <td>{{ user.phoneNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-3 d-flex justify-content-start">
                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-outline-success">Modifier mon profil</a>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-3 d-flex justify-content-end">
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
